.box {
    width: 300px;
    height: 300px;
    padding: 10px;
    margin: 0 auto;
    margin-top: 50px;
    overflow: scroll;
}

button {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 100px;
    height: 50px;
    color: blueviolet;
}